/*Seção dos contatos*/
#contatos{
    padding-left: 50px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(0, 0, 0); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  

input[type=submit] {
    width: 25%;
    background-color: #4E2096;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #EA534A;
}

.contForm {
    width: 700px;
    margin-left: 50%;
    height: auto;
    border-radius: 5px;
    background-color: #E0BCDD;
    padding: 20px;
    margin-left : 25vw
  }
/*Fim da seção dos contatos
